
    <div class="login-container1">
      <mat-form-field>
        <input matInput [(ngModel)]="searchText"  placeholder="search">
      </mat-form-field>
      
    </div><br/><br/><br/><br/><br/><br/>

    <div>
      <ul *ngFor="let item of records  | category: searchText">
        <li class="col-md-3">
          <div class="card">
            <img [src]="item.imageUrl" alt="{{item.imageUrl}}" style="width:80%">
            <div class="container">
              <p>{{item.CategoryName}}</p> 
            </div>
          </div>
          </li>
          </ul>
          </div>