<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span><img src="https://appaccess.mphasis.com/images/Mphasis_Login.png" class="headerbrand" alt=""></span>
    </mat-toolbar-row>
</mat-toolbar>
    <div class="login-container1">
      <mat-form-field>
        <input matInput [(ngModel)]="searchText"  placeholder="what your looking for ?">
      </mat-form-field>
    </div>
      <ul *ngFor="let item of records  | category: searchText">
        <li class="col-md-3">
          <div class="card">
            <img [src]="item.imageUrl" alt="{{item.imageUrl}}" style="width:80%">
            <div class="container">
              <p>{{item.CategoryName}}</p> 
            </div>
          </div>
          </li>
          </ul>
         