<div class="wrap">
  <mat-toolbar color="primary" class="mat-elevation-z6">
      <mat-toolbar-row>
          <span>App Suite</span>
      </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="login-container">
      <mat-form-field>
          <input matInput placeholder="User Name">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="accent" (click) = loginUser()>Login</button>
  </div>
</div>