.wrap {
	background: url(../../assets/bg1.png);	
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.appsuite{
	background: url(../../assets/NewProject2.png);
    width: 191px;
    left: 21%;
	height: 150px;
	position: absolute;

}
.headerbrand{
	width: 30%;
    height: 64px;
      padding: 5px 5px;
 
}