/* Hoshi */
.sep-line{
    text-align: center;
}
.input {
    width: 32%;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	  /* width: 25%; */
	/*width: calc(100% - 2em); */
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 25%;
	border: none;
	border-radius: 0;
	/*background: #f0f0f0;*/
	color:#9c9a98;
	font-weight: 300;
	font-size:1.2em;
	margin-top: 5%;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 100%;
	color: #000;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}


.top-buffer { margin-top:20px; }

.input--animation {
	overflow: hidden;
}

.input__field--animation {
/* 	margin-top: 1em; */
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label--animation {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
        font-size: 1em;
    font-weight: 100;
    color: #d1d0cf;
}

.input__label-content--animation {
	position: absolute;
	color:#9c9a98;
}

.input__label--animation::before,
.input__label--animation::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--animation::after {
	/* margin-top: 2px; */
	border-bottom: 2px solid #62b6c8;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--animation-color-1::after {
	border-color: hsl(200, 50%, 50%);
}

.input__field--animation:focus + .input__label--animation::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--animation:focus + .input__label--animation .input__label-content--animation,
.input--filled .input__label-content--animation {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}